*{margin: 0;padding: 0;}

.header-logo{
    width: 280px;
}

.navbar{
    background-color:rgb(32, 155, 196);
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 13px;
    
}

.menuPrincipal{
    list-style-type: none;
}

.menuPrincipal li{
    display: inline-block;
}

.menuPrincipal li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 5px;
    transition-duration: 1s;
}

.menuPrincipal li a:hover{
    color: rgb(32, 155, 196);
    background-color: white;
    cursor: pointer;
}

.header{
    background: green;
    color: white;
    padding: 1%;
}

/*.header2{
    background: rgb(4, 97, 4);
    height: 40px;
}*/

.portada{
    background: linear-gradient(rgb(170, 2, 170) rgb(58, 58, 218));
    /*height: 400px;*/
    /*margin-bottom: 5%;*/
}
/* Esta clase equivale a img-fluid de Boostrap*/
.ajustarImg{
    width: 100%;
}

.cajaFull{
    height: 120px;
}

.prefooter{
    height: 120px;
}

